@import "tailwindcss";

.normal {
    font-family: monospace;
    font-weight: 300;
}

.nav {
    font-family: "Doto", monospace;
    font-weight: 550;
}



@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}